.about{
    display: flex;
    .about-img{
        width: 443px;
        height: 398px;
        margin-right: 30px;
    }
    .about-descr{
        max-width: 638px;
        display: flex;
        flex-direction: column;
        &_text{
            margin-bottom: auto;
        }
    }
}