.calck-body{
    display: flex;
    flex-direction: column;
}

.calck-oject{
    display: block;
    flex-basis: 100%;
    flex-wrap: wrap;
    flex-direction: column;
}

.calck-type-window{
    margin-top: 29px;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    @media (max-width: 1130px) {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.calck-dimensions{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    @media (max-width: 450px) {
        margin: auto;
    }
}

.calck-summ{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    @media (max-width: 450px) {
        margin: auto;
        text-align: center;
    }
}

.calck-form{
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
}

.object-items{
    list-style: none;
    display: flex;
    margin-bottom: 24px;
    @media (max-width: 720px) {
        flex-wrap: wrap;
    }
    @media (max-width: 450px) {
        flex-direction: column;
    }
}

input[type="radio"]{
    display: none;
    &:checked + .radio{
        border: 2px #27AE60 solid;
        -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
        -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
        box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.5);
    }
}

.radio{
    transition: 0.7s box-shadow;
}

.object-item{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    &:last-child{
        margin: 0;
        @media (max-width: 450px) {
            margin: auto;
        }
    }
    @media (max-width: 755px) {
        margin: 0;
        label{
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 720px) {
        flex-basis: 50%;
    }
    @media (max-width: 450px) {
        flex-direction: 100%;
        margin: auto;
    }
    
}
.border{
    border: 1px #27AE60 solid;
}

.calck-title{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
    @media (max-width: 720px) {
        margin-bottom: 18px;
        font-size: 18px;
    }
}

.object-item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 755px) {
        width: 100px;
        margin: auto;
    }
    @media (max-width: 720px) {
        width: 158px;
    }
}

.object-item-name{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: auto;
    text-align: center;
    @media (max-width: 755px) {
        font-size: 24px;
    }
}

.windows, .dimensions-inputs, .calck-summ-lists, .calck-body-form{
    background: #AABBBD;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    height: 300px;
    padding: 30px;
    margin-bottom: 24px;
    border-radius: 5px;
    @media (max-width: 720px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media (max-width: 450px) {
        flex-direction: column;
    }
}

.window-select{
    display: flex;
    @media (max-width: 775px) {
        margin-right: 10px;
    }
    @media (max-width: 720px) {
        margin-bottom: 12px;
    }
    @media (max-width: 450px) {
        margin: auto;
    }
    &:last-child{
        margin: 0;
        @media (max-width: 450px) {
            margin: auto;
        }
    }
}

.window-name{
    background: #fff;
    padding: 20px;
    width: 300px;
    max-height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    &::before{
        content: '';
        border: 1px solid #000;
        border-radius: 3px;
        width: 10px;
        height: 10px;
        margin-right: 24px;
    }
}

input[type="checkbox"], .summ-value{
    display: none;
    &:checked + .window-name{
        border: 2px solid #27AE60;
        &::before{
            background-color: #27AE60;
            border: 1px solid #27AE60;
        }
    }
}
.dimensions-inputs{
    span{
        margin-left: 4px;
    }
}

.summ-total{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
    span{
        color: #27AE60;
    }
}

.summ-descr{
    margin-bottom: 12px;
}

.calck-body-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.calc-inputs{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    margin: 0 auto;
}

.calc-input{
    display: flex;
    flex-direction: column;
    input{
        padding: 10px;
        border: 1px solid #000;
        border-radius: 20px;
        margin-bottom: 12px;
        outline:none;
        &:focus, &:active{
            border: none;
        }
    }
}
.calc-input-name{
    margin-bottom: 12px;
}

.calc-footer{
    display: flex;
    align-items: center;
}

.step-info{
    font-size: 28px;
    flex-basis: 50%;
    width: 50%;
}

.number-start{
    color: #000;
    &_last{
        color: #27AE60;
    }
}
.number-all{
    color: #27AE60;
}