.calck-body{
    display: grid;
    grid-template: 
    "a b"
    "c d";
    @media (max-width: 1130px) {
        grid-template: "a a" "c c" "b d";
    }
    @media (max-width: 450px) {
        grid-template: "a" "c" "b" "d";
    }
}

.calck-oject{
    grid-area: a;
}

.calck-type-window{
    margin-top: 29px;
    display: flex;
    flex-direction: column;
    grid-area: c;
    @media (max-width: 1130px) {
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

.calck-dimensions{
    display: flex;
    flex-direction: column;
    grid-area: b;
    @media (max-width: 450px) {
        margin: auto;
    }
}

.calck-summ{
    grid-area: d;
    @media (max-width: 450px) {
        margin: auto;
        text-align: center;
    }
}

.object-items{
    list-style: none;
    display: flex;
    @media (max-width: 720px) {
        flex-wrap: wrap;
    }
    @media (max-width: 450px) {
        flex-direction: column;
    }
}

input[type="radio"]{
    display: none;
    &:checked + .radio{
        border: 1px #27AE60 solid;
    }
    &:checked + label{
        img{
            filter: grayscale(0%) opacity(100%);
        }
    }
}

.object-item{
    margin-right: 30px;
    width: 158px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    &:last-child{
        margin: 0;
        @media (max-width: 450px) {
            margin: auto;
        }
    }
    @media (max-width: 755px) {
        margin: 0;
        label{
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 720px) {
        flex-basis: 50%;
    }
    @media (max-width: 450px) {
        flex-direction: 100%;
        margin: auto;
    }
    
}
.border{
    border: 1px #27AE60 solid;
}

.calck-title{
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 35px;
    @media (max-width: 720px) {
        margin-bottom: 18px;
        font-size: 18px;
    }
}

.object-item-img{
    width: 158px;
    height: 59px;
    background-color: rgba(196, 196, 196, 0.5);
    color: #27AE60;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 755px) {
        width: 100px;
        margin: auto;
    }
    @media (max-width: 720px) {
        width: 158px;
    }
}

.object-item-name{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: auto;
    text-align: center;
    @media (max-width: 755px) {
        font-size: 24px;
    }
}

.windows{
    display: flex;
    @media (max-width: 720px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    @media (max-width: 450px) {
        flex-direction: column;
    }
}

.window-select{
    margin-right: 30px;
    @media (max-width: 775px) {
        margin-right: 10px;
    }
    @media (max-width: 720px) {
        margin-bottom: 12px;
    }
    @media (max-width: 450px) {
        margin: auto;
    }
    &:last-child{
        margin: 0;
        @media (max-width: 450px) {
            margin: auto;
        }
    }
    img{
        filter: grayscale(100%) opacity(50%);
    }
    input{
        display: none;
    }
}

.calck-dimensions{
    max-width: 296px;
}

.dimensions-inputs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    span{
        margin-left: 4px;
    }
}

.dimensions-windth,
.dimensions-height{
    background-color: none;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 6px;
    margin-bottom: 15px;
    flex-basis: 75%;
}

.summ-total{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
    span{
        color: #27AE60;
    }
}

.summ-descr{
    margin-bottom: 12px;
}