main{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    @media (max-width: 1130px) {
        width: 700px;
    }
    @media (max-width: 720px) {
        width: 400px;
    }
    @media (max-width: 450px) {
        width: 325px;
    }
}

.container{
    width: 1110px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    // border: solid 1px red;
    @media (max-width: 1130px) {
        width: auto;
        margin: 0 40px;
    }
    &_around{
        justify-content: space-around;
    }
    &_center{
        justify-content: center;
    }
    &_between{
        justify-content: space-between;
        @media (max-width: 885px) {
            flex-wrap: wrap;
        }
    }
}
