footer{
    height: 307px;
    background-color: #27AE60;
    padding-top: 65px;
    @media (max-width: 450px) {
        padding-top: 12px;
    }
}

.footer-logo{
    margin-bottom: 30px;
    @media (max-width: 450px) {
        margin-bottom: 8px;
    }
}

.info-block{
    @media (max-width: 450px) {
        margin: auto;
    }
}

.contact-footer{
    &-phone, &-email{
       &_link{
            color: #000;
            text-decoration: none;
            margin-left: 4px;
       }
    }
    &-phone{
        margin-bottom: 17px;
        @media (max-width: 450px) {
            margin-bottom: 6px;
        }
    }
}

.nav{
    &-lists{
        color: #fff;
        @media (max-width: 450px) {
            margin: auto;
        }
    }
    &-items{
        @media (max-width: 450px) {
            margin-right: 3rem;
        }
    }
    &-item{
        &_link{
            text-decoration: none;
            color: #fff;
        }
    }
}

.social{
    margin-right: 95px;
    @media (max-width: 1130px) {
        margin-left: 30px;
        margin-right: 0;
    }
    @media (max-width: 885px) {
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin-left: 0;
    }
    @media (max-width: 450px) {
        flex-direction: column;
        margin-top: 6px;
    }
    &-items{
        display: flex;
        @media (max-width: 450px) {
            margin: auto;
        }
    }
    &-item{
        list-style: none;
        margin-right: 11px;
        margin-bottom: 21px;
        @media (max-width: 885px) {
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 21px;
            height: 21px;
        }
    }
}